<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= userID %> Homepage
    </title>
</head>

<body>
    <a href="./helpcall">Get Help</a>
    <a href="./resources">Helpful Resources</a>
    <a href="./mood">Mood Log</a>
    <a href="./diary">Diary Log</a>

    <h1>Welcome
        <%= userID %>
    </h1>
</body>

</html>