<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= userID %> Enter New Diary Entry

    </title>
</head>

<body>
    <a href="./helpcall">Get Help</a>
    <a href="./resources">Helpful Resources</a>
    <a href="./mood">Mood Log</a>
    <a href="./diary">Diary Log</a>
    <br>
    <h1>Enter new Mood for
        <%= userID %>
    </h1>
    <br>
    <p>This is a new mood entry:
        <a href="./moodEntryID">Submit</a>
    </p>

</body>

</html>