<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Enter New Mood
    </title>
</head>

<body>
    <a href="./helpcall">Get Help</a>
    <a href="./resources">Helpful Resources</a>
    <a href="./mood">Mood Log</a>
    <a href="./diary">Diary Log</a>
    <br>
    <h1>Enter new Diary Entry
    </h1>
    <br>
    <h2>This is a new Mood entry:</h2>

    <form action="/mood/new" method="POST">
        <p>How are you feeling today?</p>
        <label for="Happy">Happy</label>
        <input type="radio" name="mood" id="Happy" value="1"><br>
        <label for="Stressed">Stressed</label>
        <input type="radio" name="mood" id="Stressed" value="2"><br>
        <label for="Excited">Happy</label>
        <input type="radio" name="mood" id="Excited" value="3"><br>
        <label for="Sad">Sad</label>
        <input type="radio" name="mood" id="Sad" value="4"><br>
        <br>
        <p>How many hours have you slept last night?</p>
        <label for="eight">More than 8</label>
        <input type="radio" name="sleep" id="eight" value="8"><br>
        <label for="six">6-7</label>
        <input type="radio" name="sleep" id="six" value="6"><br>
        <label for="two">2-5</label>
        <input type="radio" name="sleep" id="two" value="2"><br>
        <label for="one">Less Than 1 hr</label>
        <input type="radio" name="sleep" id="one" value="1"><br>
        <br>
        <p>How many meals have you had yesterday</p>
        <label for="three">3 or more</label>
        <input type="radio" name="meals" id="three" value="3"><br>
        <label for="two">2</label>
        <input type="radio" name="meals" id="two" value="2"><br>
        <label for="one">1</label>
        <input type="radio" name="meals" id="one" value="1"><br>
        <label for="coffee">Just a cup of coffee</label>
        <input type="radio" name="meals" id="coffee" value="0"><br>
        <br>
        <p>Have you met with anyone yesteday</p>
        <label for="friend">Some friend</label>
        <input type="radio" name="people" id="friend" value="1"><br>
        <label for="family">My family</label>
        <input type="radio" name="people" id="family" value="2"><br>
        <label for="date">Went on a date</label>
        <input type="radio" name="people" id="radio" value="3"><br>
        <label for="none">No I stayed in</label>
        <input type="radio" name="people" id="none" value="4"><br>
        <br>
        <label for="description">Enter Description</label><br>
        <textarea name="description" id="description" cols="30" rows="10">
                Enter Text Area
            </textarea><br>
        <button>Submit</button>
    </form>

</body>

</html>