<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>REACH - 404</title>
    <link rel="icon" href="./assets/logoPH.png">
</head>
 
<body style="text-align: center; background-color: aliceblue;">
    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="https://acmahaja.github.io/hackithon/views/pages/landing.html" class="navbar-brand">
                <img src="./assets/logoPH.png" height="30" alt="REACH logo">
                REACH                
            </a>
           
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
 
            </div>
        </nav>
    </div>
 
    <h1 style="font-family: 'Courier New', Courier, monospace; font-size: 50px;">Whoops! Something went wrong.</h1>
    <br>
    <h2 style="font-size: 20px;">Double check you entered everything correctly in whatever you submitted. Else, click the logo in the top left to go back to the Landing page.</h2>
    <br>
    <div id="picture">
        <img src="./assets/404.png" alt="Pic" width="700">
    </div>
</body>
</html>