<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <a href="/">Home Pages</a>
    <a href="/about">About Pages</a>
    <a href="/credits">Credit Pages</a>
    <a href="/login">Login Pages</a>
    <h1>About Page</h1>
</body>

</html>