<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meditate.</title>
    <script src="meditate.js"></script>
</head>

<body>
    <h1>Hello!</h1>
    <button onclick="selectTime()">Click me!</button>
    <div>test</div>
</body>

</html>