<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Meditate.</title>
        <script>
            function selectTime() {
                document.querySelector('h1').innerHTML = "hey."
            }
        </script>
    </head>
    <body>
        <h1>Hello!</h1>
        <button onclick="selectTime()">Click me!</button>
    </body>
</html>
<div>test</div>