<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=“UTF-8”>
        <title>Mood.</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="mood.js"></script>
    </head>
    <body style = "background-color: #c4f8de; text-align: center;">
        <div class="alert alert-info" role="alert">
            Welcome to Reach. Time to relax. &#x1F498;
        </div>
        <p class="bottom-three"></p>
        <h1 id="Hello" class="edgy">How are you feeling?</h1>
        <p class="bottom-three"></p>
        <button data-color="blue">Calm &#x1F60C;</button>
        <button data-color="#f58b4e">Frustrated &#x1F624;</button>
        <button data-color="green">Positive &#x1F917;</button>
        <p class="bottom-three"></p>
        <h2 id="Feeling" style = "color: #c4f8de; font-size: 35pt">Mood.</h2>
        <p class="bottom-three"></p>
        <select>
            <option value="blue">Calm</option>
            <option value="#f58b4e">Frustrated</option>
            <option value="green">Positive</option>
        </select>
        <p class="bottom-three"></p>
        <h2 id="yep">Yeah</h2>

        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary"><a href="meditate.html">Homepage.</a></li>
            <li class="list-group-item"><a href="meditate.html">Want to test your love for Zara? Click here.</a></li>
            <li class="list-group-item"><a href="meditate.html">Location.</a></li>
            <li class="list-group-item"><a href="mood.html">Blink.</a></li>
        </ul>
    </body>
</html>