<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=“UTF-8”>
        <title>Mood.</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="mood.js"></script>
    </head>
    <body style = "background-color: #c4f8de; text-align: center;">
        <div class="alert alert-info" role="alert">
            Welcome to Reach. Time to relax. &#x1F498;
        </div>
        <h1 id="Hello">How are you feeling?</h1>
        <p class="bottom-three"></p>
        <button data-color="blue">Calm &#x1F60C;</button>
        <button data-color="#f58b4e">Frustrated &#x1F624;</button>
        <button data-color="green">Positive &#x1F917;</button>
        <p class="bottom-three"></p>
        <h2 id="Feeling" style = "color: #c4f8de; font-size: 35pt">Mood.</h2>
        <list></list>
    </body>
</html>