.test1
{
    margin: 0px auto;
}

table
{
    border: 2px solid black;
    border-collapse: collapse;
}

td
{
    border: 1px solid black;
    padding: 5px;
}

.piccy
{
    display: none;
}

.bottom-three {
    margin-bottom: 2cm;
 }

.edgy {
    font-family: Courier;
    font-size: 25px;
}

.edgy1 {
    font-family: Courier;
    font-size: 15px;
}

.input[type=text] {
    width: 70%;
    padding: 50px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }